@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

.home {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("assets/background.png");
    background-position: center;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 20px 15px;
    background: transparent;
}

button {
    cursor: pointer;
}
.menu{
    display: none;
}

.logo {
    font-size: 28px;
    color: #FFF;
}

.logo-color {
    color: rgba(226, 163, 28, 0.788);
}

.nav-links {
    display: flex;
}

.nav-links a {
    display: block;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    padding: 0 12px;
}

.nav-links a::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: rgba(226, 163, 28, 0.788);
    transition: width .3s;
}

.nav-links a:hover::after {
    width: 100%;
    transition: width .3s;
}

.show {
    display: none;
}

.buttons a {
    padding-right: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #FFF;
}

button {
    border: none;
    border-radius: 35px;
    outline: none;
    background-color: rgba(226, 163, 28, 0.788);
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 15px;
}


.hero {
    padding: 100px 0 0 200px;
    width: 100%;
}

.home h1 {
    color: #FFF;
    font-size: 48px;
}

.home p {
    color: #FFF;
    font-size: 18px;
    width: 40%;
    padding: 15px 0;
    line-height: 30px;
}

.exp-btn {
    border: none;
    border-radius: 35px;
    outline: none;
    background-color: rgba(226, 163, 28, 0.788);
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 20px;
    cursor: pointer;
}

.idea-box {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 800px;
    height: 150px;
    background-color: #FFF;
    box-shadow: 10px 14px 4px rgb(39, 36, 36);
    z-index: 1;
}

.box {
    position: absolute;
    top: 550px;
    left: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#menu-section {
    height: auto;
    background-color: #FFF;
}

.menu-container {
    display: flex;
    padding: 200px 100px 50px 100px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.best-deal-text,
.what-us-text {
    padding-bottom: 50px;
}

.menu-container .logo-2 {
    font-size: 34px;
    font-weight: bold;
}

.underline-txt {
    border-bottom: 3px solid rgba(226, 163, 28, 0.788);
}

.selections a {
    text-decoration: none;
    color: #000;
    padding-right: 15px;
    font-weight: 600;
}

.btn-1,
.btn-2 {
    background-color: #FFF;
    color: rgba(226, 163, 28, 0.788);
    font-size: 14px;
    font-weight: normal;
    padding: 4px 14px;
    border: 2px solid rgba(226, 163, 28, 0.788);
}

.coffee-brand,
.sub-options {
    display: flex;
    width: 280px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.ratings,
.like {
    display: flex;
}


.coffee-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 150px;
}

.img-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 4px 6px 10px #b1a5a5;
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform .4s;
}

.img-box:hover {
    transform: scale(1.1);
}

.h1-diff {
    font-size: 34px;
    padding-bottom: 0;
}

.explain-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 50px 20px;
}

.explain-box h4 {
    color: #b1a5a5;
}

.explain-box p {
    color: #b1a5a3;
    width: 100%;
    padding-right: 40px;
    padding-bottom: 20px;
}

hr {
    margin: 0 55px 0 -15px;
}

.why-us-box {
    display: flex;
    flex-direction: column;
    width: 670px;
}

#why-us-section {
    height: auto;
    background: #FFF;
    padding-left: 100px;
}

.left-side {
    display: flex;
    flex-direction: column;
}

.right-side {
    object-fit: fill;
    display: flex;
}

.whole {
    display: flex;
    flex-direction: row;
}

#about {
    height: auto;
    background-color: #FFF;
    position: relative;
}

.about-us {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-us h4 {
    color: rgb(104, 104, 124);
    font-size: 32px;
}

.about-us p {
    width: 600px;
    padding-bottom: 35px;
    color: #b1a5a3;
}

.right-div {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.right-coffee-img {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.order-btn-1 {
    margin: -15px 0 0 100px;
}

.order-btn-2 {
    position: absolute;
    bottom: 5%;
    left: 50%;
}

#coffee-image-bg {
    margin-top: 50px;
    height: 50vh;
    background-image: linear-gradient(rgba(219, 177, 86, 0.788), rgba(219, 177, 86, 0.788)), url("assets/coffe+beans.png");
    background-repeat: no-repeat;
    position: relative;
}

#coffee-image-bg .right-side {
    display: flex;
    position: absolute;
    top: 10%;
    left: 40%;
    flex-direction: column;
    width: 500px;
}

#coffee-image-bg .right-side h2 {
    color: #fff;
    font-size: 28px;
    padding-bottom: 10px;
}

#coffee-image-bg .right-side p {
    color: #fff;
    padding: 0 0 10px 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000;
    color: #FFF;
    height: 200px;
}

.foot-h2,
.foot-a,
.foot-p {
    padding-right: 25px;
    font-size: 18px;
    color: #b1a5a3;
    text-decoration: none;
}

@media screen and (max-width:480px) {
    .nav-links {
        display: none;
    }

    header {
        padding: 20px;
    }

    .buttons {
        display: none;
    }

    .home {
        width: 100%;
    }

    .container {
        width: 35px;
        height: 35px;
        cursor: pointer;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .hamburger-active .bar1, .bar2{
        background-color: #fff;
        height: 5px;
        width: 35px;
        display: block;
        margin: 6px 0;   
    }
    .hamburger-active .bar1{
        transform: rotate(45deg) translate(25px, 18px);
    }
    .hamburger-active .bar2{
        transform: rotate(-45deg) translate(-10px, 18px);
    }
    .bar {
        background-color: #fff;
        height: 5px;
        width: 35px;
    }
    
    
    .menu {

        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        top: 0%;
        right: 0%;
        transform: translateY(-500px);
        backdrop-filter: blur(30px);
        z-index: 1;
        transition: .3s;
    }
    .show{
        transform: translateY(0);
    }
    
    ul a {
        font-size: 24px;
        color: #fff;
    }

    .home {
        width: 100%;
        padding: 0;
        position: relative;
    }

    .hero {
        position: absolute;
        top: 25%;
        padding: 0;
        width: 100%;
        display: flex;
        gap: 50px;
        flex-direction: column;
        align-items: center;
    }

    .hero h1 {
        font-size: 28px;
        text-transform: capitalize;
    }

    .hero p {
        font-size: 22px;
        align-items: center;
        display: flex;
        width: 100%;
        text-align: center;
        font-weight: 600;
    }

    .exp-btn {
        margin-top: 10px;
    }

    .description-container {
        position: relative;
        height: 100vh;
        background-color: antiquewhite;
    }

    .idea-box {
        width: 150px;
        height: 100vh;
        box-shadow: none
    }

    .box {
        position: absolute;
        top: 0;
        left: 120px;
    }

    .idea-box {
        align-items: center;
        text-align: center;
        background-color: antiquewhite;
        flex-direction: column;
    }

    #menu-section {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .menu-container {
        padding: 0;
        background-color: #797171;
        margin-bottom:0;
    }
    .coffee-gallery{
        background-color: #111;
        padding-top: 100px;
    }
    .right-side {
        display: none;
    }

    #why-us-section {
        padding: 0;
        background-color: #111;
    }

    .what-us-text {
        padding-top: 100px;
        color: #fff;
        display: flex;
        justify-content: center;
    }

    .what-us-text h1 {
        font-size: 28px;
    }

    .why-us-box {
        height: 100vh;
        width: 100%;
    }

    .explain-box p {
        padding-right: 0;
    }

    .img-box:hover {
        transform: scale(1);
    }
    
    hr {
        margin: 15px 55px 0 0;
    }

    .explain-box h4 {
        font-size: 22px;
    }

    .img-box {
        background-color: #fff;
        box-shadow: none;
    }

    .best-deal-text {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #about {
        width: 100%;
    }

    .about-us {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about-us h1 {
        font-size: 32px;
    }

    .about-us h4 {
        font-size: 22px;
    }

    .right-coffee-img {
        display: none;
    }

    .about-us p {
        width: 100%;
    }

    .order-btn-1 {
        margin: -15px 0 0 130px;
    }

    .order-btn-2 {
        top: 90%;
        bottom: unset;
        left: 35%;
    }

    #coffee-image-bg .right-side {
        width: 100%;
        top: 10%;
        left: 0;
    }

    #coffee-image-bg .right-side h2 {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 0;
    }

    #coffee-image-bg .right-side p {
        display: flex;
        font-size: 20px;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 20px 0 20px 0;
    }
    footer{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }



}